.footer {
  text-transform: uppercase;
  background-color: #164083;
}

.footer h3 {
  font-weight: 300;
}

.footer ul {
  list-style: none;
  white-space: nowrap;
  transform: translateX(90%);
  animation: scroll 13s infinite linear;
}

.footer li {
  display: inline-block;
  padding-right: 1rem;
}

.footer h3 {
  padding-bottom: 0.5em;
}

.footer__markets,
.footer__favorites {
  width: 50%;
  padding: 0.75rem 1.5rem;
  overflow: hidden;
}

.footer__markets div,
.footer__favorites div {
  display: inline;
}

.footer__markets {
  display: inline-block;
  border-right: solid rgb(105, 137, 175, 0.35) 3px;
}

.footer__stock {
  font-weight: 700;
}

.footer__stock--symbol {
  padding-right: 1rem;
}

.footer__favorites {
  display: inline-block;
}

@keyframes scroll {
  0% {
    transform: translateX(110%);
  }
  100% {
    transform: translateX(-130%);
  }
}
