.ticker__price {
  font-weight: 300;
}
.ticker__price--change.negative {
  color: var(--color-red);
}
.ticker__price--change.positive {
  color: var(--color-green);
}

.ticker__price--change {
  display: inline-block;
}

.ticker__price--change span {
  padding-left: 0.5rem;
}
.ticker__price .icon--small {
  padding: 0;
  font-size: 0.65em;
  display: inline-block;
  transform: translateY(-30%);
}
.ticker__price--change.negative span:not(:last-child) {
  border-right: solid rgba(178, 37, 46, 0.45) 2px;
  padding-right: 0.5rem;
}
.ticker__price--change.positive span:not(:last-child) {
  border-right: solid rgba(0, 205, 130, 0.45) 2px;
  padding-right: 0.5rem;
}
.ticker__price.positive .ticker__price--change span:not(:last-child) {
  border-right: solid rgba(37, 178, 112, 0.45) 2px;
}
